.inputbox {
  border-style: none;
  border-bottom: solid;
  margin: 0 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.inputbox::placeholder {
  font-style: italic;
}

.inputbox:focus {
  outline: none;
  background-color: lightgreen;
  border-radius: 0.2rem;
}

.button {
  border-style: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: lightgreen;
  cursor: pointer;
}
