.app {
  border-radius: 0.5rem;
  padding: 1rem;
}

.dark {
  background-color: black;
  color: white;
  font-weight: 1000;
}

.light {
  background-color: whitesmoke;
  color: black;
  font-weight: 1000;
}
